feature tacacs+
tacacs-server host 10.101.199.90 key TPCP3tr0ch3m
tacacs-server host 10.111.199.90 key TPCP3tr0ch3m
 
aaa group server tacacs+ ISE-TACACS
server 10.101.199.90
server 10.111.199.90
use-vrf management
 
aaa authentication login default group ISE-TACACS
aaa accounting default group ISE-TACACS
 
